<% @page_title = "About" %>

  <div class="w-section featured-container">
    <div class="w-container">
      <div class="w-row home-row-1">
        <div class="w-col w-col-9 w-col-stack feature-column-1">
          <div class="about-copy-block"><strong>From the team behind Belfast’s <a class="textLink" href="http://T13.tv">T13</a>, a city of european significance and monumental opportunity is soon to experience a genuine cultural innovation in the arrival of Belfast Contained. &nbsp;Belfast will be brought to life through a dynamic program of events, gatherings and experiences taking place between the acclaimed T13 Hub and a brand new pop up eco venue - with cultural vibrations being felt throughout the city and beyond.</strong>
            <br>
            <br><a class="textLink" href="http://squarepit.com">The Square Pit Collaborative</a> are breaking new ground with this latest city solution, and we have accordingly developed a new operating framework within which the Belfast Contained project will be developed, programmed, operated and reviewed.&nbsp;
            <br>
            <br>
            <br>It reads:</div>
          <div class="about-copy-block _2"><strong>Consultation</strong> - we will be consulting cross sector stakeholders throughout through our <a class="textLink" href="http://beheardbelfast.com">BeHeard</a> partners.
            <br>
            <br><strong>Collaboration</strong> - programmed through partnership with public / private / charitable / creative sectors creating diverse content.&nbsp;
            <br>
            <br><strong>Regeneration</strong> - re-defining a city space to help link neighbouring communities with eco friendly pilot project.
            <br>
            <br><strong>Sustainability</strong> - equipping this community with the support and infrastructure required for sustainable development .</div>
          <div class="about-copy-block _3">Just like T13, Belfast Contained will mean many different things to the people and organisations who experience it. With this in mind we decided not to restrict these info sections to a carefully articulated piece of copy. Instead we went back to some of our original thoughts during the creative sessions from where Belfast Contained emerged, and has since continued to evolve. &nbsp;So...</div>
        </div>
        <div class="w-col w-col-3 w-col-stack w-hidden-medium w-hidden-small w-hidden-tiny feature-column-2 about">
          <% @post.featured.published.sorted.limit(3).each do |p| %>
          <%= link_to({:action => 'post', :permalink => p.permalink}, :class => "w-inline-block side-feature-link-block") do %>
            <div class="side-feature-image-div">
              <%= image_tag p.image_url.to_s, :class => "side-feature-image" %>
            </div>
            <div class="side-feature-heading-div">
              <h1 class="side-feature-heading-overlay"><%= p.title %></h1>
            </div>
          <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="w-section what-is-section">
    <div class="w-container what-container">
      <div class="w-row what-is-row _1">
        <h1 class="home-intro-header-large centre head">Daily services</h1>
        <div class="w-col w-col-6 w-clearfix what-is-row-1-column-1" data-ix="appear-on-scroll">
          <h1 class="what-is-heading">Pizza VanTastica</h1>
          <div class="what-is-copy-block"><p>Pizza VanTastica, the authentic pizza Napoletana. If you want to taste "the" real pizza made in a hand made wood fired pizza oven, then you have come ot the right place.</p><p>Come grab some wood fired pizza everyday at the Contained Pop-up Village.</p></div>
          <a class="w-lightbox w-hidden-tiny w-inline-block venue-page-lightbox-link" href="#"><img class="venue-page-lightbox" src="http://res.cloudinary.com/titanicmedia/image/upload/v1445577740/CONTAINED/CON-pizza-2.jpg">
          <script type="application/json" class="w-json">
              { "items": [{
                "url": "http://res.cloudinary.com/titanicmedia/image/upload/v1445577740/CONTAINED/CON-pizza-2.jpg",
                "fileName": "CON-pizza-2g",
                "origFileName": "CON-web-FEATURE-MEDIUM.jpg",
                "width": 900,
                "height": 675,
                "size": 30267,
                "type": "image"
              }] }
            </script>
          </a>
          <a class="w-lightbox w-hidden-tiny w-inline-block venue-page-lightbox-link" href="#"><img class="venue-page-lightbox" src="http://res.cloudinary.com/titanicmedia/image/upload/v1445577741/CONTAINED/CON-pizza-3.jpg">
          <script type="application/json" class="w-json">
              { "items": [{
                "url": "http://res.cloudinary.com/titanicmedia/image/upload/v1445577741/CONTAINED/CON-pizza-3.jpg",
                "fileName": "CON-pizza-3",
                "origFileName": "CON-web-FEATURE-MEDIUM.jpg",
                "width": 900,
                "height": 675,
                "size": 30267,
                "type": "image"
              }] }
            </script>
          </a>    <a class="w-lightbox w-hidden-tiny w-inline-block venue-page-lightbox-link" href="#"><img class="venue-page-lightbox" src="http://res.cloudinary.com/titanicmedia/image/upload/v1445577742/CONTAINED/CON-pizza-1.jpg">
              <script type="application/json" class="w-json">
                  { "items": [{
                    "url": "http://res.cloudinary.com/titanicmedia/image/upload/v1445577742/CONTAINED/CON-pizza-1.jpg",
                    "fileName": "CON-pizza-1",
                    "origFileName": "CON-web-FEATURE-MEDIUM.jpg",
                    "width": 900,
                    "height": 675,
                    "size": 30267,
                    "type": "image"
                  }] }
                </script>
              </a>
        </div>
        <div class="w-col w-col-6 w-clearfix what-is-row-1-column-2" data-ix="appear-on-scroll-who-where">
          <h1 class="what-is-heading">Street Workout</h1>
          <div class="what-is-copy-block"><p>Street Workout is a modern style of bodyweight training based around progressive calisthenics, athletics and gymnastics. It promotes healthy living, community and a desirable physique.</p><p>This minimal equipment physical activity is mostly performed in parks, gyms and public spaces. We offer a daily workout for all abilities, developing key skills, strength, mobility and conditioning.</p></div>
          <a class="w-lightbox w-hidden-tiny w-inline-block venue-page-lightbox-link" href="#"><img class="venue-page-lightbox" src="http://res.cloudinary.com/titanicmedia/image/upload/c_scale,w_1000/v1445497209/CONTAINED/11958129_1057698104243448_625280889715734991_o.jpg">
          <script type="application/json" class="w-json">
              { "items": [{
                "url": "http://res.cloudinary.com/titanicmedia/image/upload/c_scale,w_1000/v1445497209/CONTAINED/11958129_1057698104243448_625280889715734991_o.jpg",
                "fileName": "5614e7a0e496435a18a6072b_CON-web-FEATURE-MEDIUM.jpg",
                "origFileName": "CON-web-FEATURE-MEDIUM.jpg",
                "width": 900,
                "height": 675,
                "size": 30267,
                "type": "image"
              }] }
            </script>
          </a>
          <a class="w-lightbox w-hidden-tiny w-inline-block venue-page-lightbox-link" href="#"><img class="venue-page-lightbox" src="http://res.cloudinary.com/titanicmedia/image/upload/v1445577743/CONTAINED/CON-workout-3.jpg">
          <script type="application/json" class="w-json">
              { "items": [{
                "url": "http://res.cloudinary.com/titanicmedia/image/upload/v1445577743/CONTAINED/CON-workout-3.jpg",
                "fileName": "5614e7a0e496435a18a6072b_CON-web-FEATURE-MEDIUM.jpg",
                "origFileName": "CON-web-FEATURE-MEDIUM.jpg",
                "width": 900,
                "height": 675,
                "size": 30267,
                "type": "image"
              }] }
            </script>
          </a>    <a class="w-lightbox w-hidden-tiny w-inline-block venue-page-lightbox-link" href="#"><img class="venue-page-lightbox" src="http://res.cloudinary.com/titanicmedia/image/upload/v1445577740/CONTAINED/CON-workout-1.jpg">
              <script type="application/json" class="w-json">
                  { "items": [{
                    "url": "http://res.cloudinary.com/titanicmedia/image/upload/v1445577740/CONTAINED/CON-workout-1.jpg",
                    "fileName": "5614e7a0e496435a18a6072b_CON-web-FEATURE-MEDIUM.jpg",
                    "origFileName": "CON-web-FEATURE-MEDIUM.jpg",
                    "width": 900,
                    "height": 675,
                    "size": 30267,
                    "type": "image"
                  }] }
                </script>
              </a>
        </div>
      </div>
      <div class="w-row what-is-row _2" data-ix="appear-on-scroll">
        <div class="w-col w-col-4 what-is-row-2-column _1" data-ix="appear-on-scroll">
          <h1 class="what-is-heading">Parkour</h1>
          <div class="what-is-copy-block row-2"><p>Parkour is expression through movement, it is getting from point A to point B as fluidly and as efficiently as possible.  The only tools required are your body and mind.</p><p>Parkour at Contained will teach you to be more efficient and confident in movement.  Every beginner receives an induction, starting with the very basics - rolls, take offs and landings.  Our coaches will weigh your ability and deliver fun, challenging and achievable training to match.  The kids can channel their energy into a fit and active lifestyle.</p><p>Intermediate to Advanced practitioners can further their skills with custom built equipment - made by freerunners, for freerunners.</p></div>
          <div class="aboutbottomimagesdiv">
            <a class="w-lightbox w-inline-block what-is-lightbox bottom-row" href="#"><img class="about-bottom-lightbox-placeholder" src="http://res.cloudinary.com/titanicmedia/image/upload/v1445578537/CONTAINED/CON-parkour-2.jpg">
              <script type="application/json" class="w-json">
                { "items": [{
                  "url": "http://res.cloudinary.com/titanicmedia/image/upload/v1445578537/CONTAINED/CON-parkour-2.jpg",
                  "fileName": "56160a4e39c95e7470ab295b_con-tarantino-image.jpg",
                  "origFileName": "con-tarantino-image.jpg",
                  "width": 1000,
                  "height": 703,
                  "size": 121262,
                  "type": "image"
                }] }
              </script>
            </a>
            <a class="w-lightbox w-inline-block what-is-lightbox bottom-row" href="#"><img class="about-bottom-lightbox-placeholder" src="http://res.cloudinary.com/titanicmedia/image/upload/v1445578555/CONTAINED/CON-parkour-1.jpg">
              <script type="application/json" class="w-json">
                { "items": [{
                  "url": "http://res.cloudinary.com/titanicmedia/image/upload/v1445578555/CONTAINED/CON-parkour-1.jpg",
                  "fileName": "56160a5c794d876a2b4e95c1_11999663_985215621529690_4927600099982776853_o.jpg",
                  "origFileName": "11999663_985215621529690_4927600099982776853_o.jpg",
                  "width": 1280,
                  "height": 853,
                  "size": 93878,
                  "type": "image"
                }] }
              </script>
            </a>
          </div>
        </div>
        <div class="w-col w-col-4 what-is-row-2-column _2" data-ix="appear-on-scroll-who-where">
          <h1 class="what-is-heading">Tonic Sound Healing Spa</h1>
          <div class="what-is-copy-block row-2"><p>The Sound Healing Spa will deliver a Relaxation Sound Healing Session to allow those new to the concept of Sound as a Therapy the chance to experience it in a safe environment.</p><p>Tessa Greer from The Sound Healing Spa will deliver this session and introduce you to the effects that different types of musical instruments can have on the body, when played with the intention of using them as therapeutic tools.</p><p>The instruments played will include Crystal Singing Bowls, Tibetan Singing Bowls, Gongs, Drums and Percussion instruments.</p></div>
            <div class="aboutbottomimagesdiv">
              <a class="w-lightbox w-inline-block what-is-lightbox bottom-row" href="#"><img class="about-bottom-lightbox-placeholder" src="http://res.cloudinary.com/titanicmedia/image/upload/v1445578540/CONTAINED/CON-tonic-1.jpg">
                <script type="application/json" class="w-json">
                  { "items": [{
                    "url": "http://res.cloudinary.com/titanicmedia/image/upload/v1445578540/CONTAINED/CON-tonic-1.jpg",
                    "fileName": "56160a4e39c95e7470ab295b_con-tarantino-image.jpg",
                    "origFileName": "con-tarantino-image.jpg",
                    "width": 1000,
                    "height": 703,
                    "size": 121262,
                    "type": "image"
                  }] }
                </script>
              </a>
              <a class="w-lightbox w-inline-block what-is-lightbox bottom-row" href="#"><img class="about-bottom-lightbox-placeholder" src="http://res.cloudinary.com/titanicmedia/image/upload/v1445578551/CONTAINED/CON-tonic-2.jpg">
                <script type="application/json" class="w-json">
                  { "items": [{
                    "url": "http://res.cloudinary.com/titanicmedia/image/upload/v1445578551/CONTAINED/CON-tonic-2.jpg",
                    "fileName": "56160a5c794d876a2b4e95c1_11999663_985215621529690_4927600099982776853_o.jpg",
                    "origFileName": "11999663_985215621529690_4927600099982776853_o.jpg",
                    "width": 1280,
                    "height": 853,
                    "size": 93878,
                    "type": "image"
                  }] }
                </script>
              </a>
            </div>
        </div>
        <div class="w-col w-col-4 what-is-row-2-column _3" data-ix="appear-on-scroll-who-where">
          <h1 class="what-is-heading">Yoga</h1>
          <div class="what-is-copy-block row-2"><p>AXIS provides a series of Vinyasa Flow classes to cater for all levels and ability.</p><p>The classes will flow through a sequence of movements, ranging from restorative to creative and challenging.</p><p>The emphasis is to incorporate the movement with the breath. The purpose of the class is to build physical strength, improve flexibility, and provide mental clarity.</p>
          </div>
          <div class="aboutbottomimagesdiv">
              <a class="w-lightbox w-inline-block what-is-lightbox bottom-row" href="#"><img class="about-bottom-lightbox-placeholder" src="http://res.cloudinary.com/titanicmedia/image/upload/v1445578541/CONTAINED/CON-axis-header.jpg">
                <script type="application/json" class="w-json">
                  { "items": [{
                    "url": "http://res.cloudinary.com/titanicmedia/image/upload/v1445578541/CONTAINED/CON-axis-header.jpg",
                    "fileName": "56160a4e39c95e7470ab295b_con-tarantino-image.jpg",
                    "origFileName": "con-tarantino-image.jpg",
                    "width": 1000,
                    "height": 703,
                    "size": 121262,
                    "type": "image"
                  }] }
                </script>
              </a>
              <a class="w-lightbox w-inline-block what-is-lightbox bottom-row" href="#"><img class="about-bottom-lightbox-placeholder" src="http://res.cloudinary.com/titanicmedia/image/upload/v1445578552/CONTAINED/CON-axis-1.jpg">
                <script type="application/json" class="w-json">
                  { "items": [{
                    "url": "http://res.cloudinary.com/titanicmedia/image/upload/v1445578552/CONTAINED/CON-axis-1.jpg",
                    "fileName": "56160a5c794d876a2b4e95c1_11999663_985215621529690_4927600099982776853_o.jpg",
                    "origFileName": "11999663_985215621529690_4927600099982776853_o.jpg",
                    "width": 1280,
                    "height": 853,
                    "size": 93878,
                    "type": "image"
                  }] }
                </script>
              </a>
            </div>
          </div>
        </div>
          <div class="seed-text-div">
            <div class="home-intro-copy centre">
              <%= link_to({:action => 'programme'}, :class => "w-inline-block home-more-new-button containedvillagemore") do %>
                <div class="get-involved-button-text">SEE MORE ></div>
                <% end %>
            </div>
      </div>
    </div>
  </div>
  <div class="w-section arrow-down-section">
    <h1 class="how-to-heading" data-ix="appear-on-scroll-who-is-it">HOW to get in touch?<br>HOW to get involved?</h1>
    <div class="arrow-block" data-ix="appear-on-scroll-how-to">☟</div>
  </div>
