<!DOCTYPE html>
<html>
  <head>
    <title>Contained</title>
    <%= cloudinary_js_config %>  
  </head>
  <body>

    <!-- before yield -->
    <%= yield %>
    <!-- after yield -->

  </body>
</html>
